{% load crispy_forms_tags %}

{% load static %}
{% block 'link' %}
<link rel="stylesheet" href="{% static 'premium/assets/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css'%}">
{% endblock %}
<div class="card-body">
  <form method="POST" enctype="multipart/form-data" data-url="{{URL_CREATE_UPDATE}}" class="custom-form">
    {{form|crispy}}
    <button type="submit" class="btn btn-sm btn-{{btn_name}}" id="{{btn_submit}}">{{btn_title}}</button>
  </form>
</div>

{% block 'script' %}
<script src="{% static 'premium/assets/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'%}"></script>
<script>
  var $datepicker1 = $('#id_date_issued');
  $datepicker1.datepicker({
    autoclose: true,
    format : 'yyyy-mm-dd',
  });
</script>
<script>
  $(document).ready(function () {
    var csrftoken = getCookie('csrftoken');
    $(window).keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        return false;
      }
    });

    // start
    $(".custom-form").submit(function (event) {
      event.preventDefault();
      Swal.fire({
        text: "Are you sure do you want to {% if is_Create %}save{% else %}update{% endif %} this record?",
        type: 'info',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes'
      }).then((result) => {

        if (result.value === true){
          var form = $(this);
          var formData = new FormData($(form)[0]);
          $.ajax({
            url: form.attr('data-url'),
            data: formData,
            type: form.attr('method'),
            dataType: 'json',
            beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
              $("#button-submit").addClass("disabled", true);
            },
            processData: false,
            contentType: false,
            success: function(data){
              Toast.fire({
                type: data.message_type,
                title: data.message_title
              });
              if (data.valid){
                if (data.url){
                  window.location.href = data.url;
                }
                form_load();
                $("#button-submit").addClass("disabled", false);
              }
            },
            error:function(error){
              Toast.fire({
                type: 'error',
                title: 'ERROR Connection Lost.'
              });
              $("#button-submit").addClass("disabled", false);
            },

          })
          return false;
        }
      });

    });
    // end

  });

</script>
{% endblock %}
